.HourSelectorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;

  position: static;
  width: 152px;
  height: 44px;
  left: 266px;
  top: 0px;

  /* white */

  //   background: #ffffff;
  /* line */

  border: 1px solid #dadbdf;
  box-sizing: border-box;
  border-radius: 8px;

  .HourTitle {
    width: 100px;
  }
}

.HourSelectorWrapperActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;

  position: static;
  width: 152px;
  height: 44px;
  left: 266px;
  top: 0px;
  border: 1px solid #dadbdf;
  box-sizing: border-box;
  border-radius: 8px;

  background-color: #f9f9f9;
  .HourTitle {
    width: 100px;
  }
}
.HourSelectorContent ul {
  width: 120px;
  height: 236px;
  border-radius: 8px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 8px;
  overflow: auto;
  z-index: 50;
  border: 1px solid #dadbdf;
  list-style: none;
  li {
    font-size: 16px;
    padding: 14px;
  }

  li:first-child {
    margin-top: 16px;
  }

  li:hover {
    background-color: #f9f9f9;
  }
}
