.AppWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .dialogBtnWrapper {
    text-align: center;
    .dialogBtn {
      width: 80px;
      height: 44px;
      background: #4c80f1;
      border-radius: 8px;
      color: #ffffff;
      text-align: center;
    }
  }
}
